header {
    background-color: black;
    height: 5em;
    width: 100%;
}

.navlist {
    list-style-type: none;
    padding: 0px;
    float: left;
    width: 70%;
    margin-top: 2em;
}

.navlist li a:hover {
    color: white;
}

.navlist li a {
    text-decoration: none;
    color: grey;
}

main {
    margin-left: 4em;
}

.sec1 {
    border-bottom: 1px solid #a6a6a6;
    height: 25em;
    margin-top: 2em;
    width: 96%;
    display: inline-block;
}

.headiv {
    float: left;
    margin-left: 4em;
    width: 12%;
}

.navlist li {
    margin-left: 14px;
    float: left ;

}

.logo {

    margin-top: 1em;

}

.articles {
    display: inline-block;
    width: 25%;
    padding : 2em;

}
.image1 {
    border-radius: 5px;
    float: left;

}


.bt1 {
    background-color: rgb(44, 101, 176);
    margin-top: 1em;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
}

.t1 {
    font-size: 20px;
    text-align: center;
}

.art1 {
    float: left;
    margin-left: 3em;
    width: 16%;
}

.p1 {
    background-color: rgb(218, 218, 218);
    text-align: center;
    width: 93.5%;
    border-width: 1px;
    border-color: rgb(144, 144, 144);
    border-style: solid;
    box-shadow: 2px 10px 5px 5px rgba(0, 0, 0, 0.06) inset;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

.foot {
    font-size: 10px;
    margin-left: 9.5em;
}

button {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-radius: 3px;
    display: block;
    margin-top: 1em;
    border-width: thin;
}
