body {
    width: 1200px;
    margin-left: 3em;
}


.navlist {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 70%;
    margin-top: 2em;
}
div {

  width: 14%;
  float: left;
}

.navlist li {
    margin-left: 14px;
    float: left ;

}

.logo {

  margin-top: 0px;

}

.sec {
  display: inline-block;
  width: 25%;
  padding : 2em;
}
.image1 {
    border-radius: 5px;
    float: left;
}

.sec1 {
    display: inline-block;
}

.art1 {
    width: 30%;
    float: left;
    margin-left: 3em;
}
