body {

}

header {
    background-color: black;
    height: 5em;
}

.navlist {
    list-style-type: none;
    padding: 0px;
    float: left;
    width: 70%;
    margin-top: 2em;
}

.navlist li a:hover {
    color: white;
}

.navlist li a {
    text-decoration: none;
    color: grey;
}

main {
    width: 1200;
    margin-left: 5em;
}

.sec1 {
    border-bottom: 1px solid #a6a6a6;
    height: 17em;
    margin-top: 2em;
    width: 96%;
}

.headiv {
    float: left;
    margin-left: 5em;
    width: 12%;
}

.navlist li {
    margin-left: 14px;
    float: left ;

}

.logo {

    margin-top: 1em;

}

.sec {
    display: inline-block;
    width: 25%;
    padding : 2em;

}
.image1 {
    border-radius: 5px;
    float: left;

}

.sec1 {
    display: inline-block;
}

.bt1 {
    background-color: rgb(44, 101, 176);
    margin-top: 1em;
    border-radius: 5px;
    color: white;
}

.art1 {
    width: 30%;
    float: left;
    margin-left: 3em;
}

.p1 {
    background-color: rgb(218, 218, 218);
    text-align: center;
    width: 94%;
    border-width: 1px;
    border-color: rgb(144, 144, 144);
    border-style: inset;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

.foot {
    font-size: 10px;
    margin-left: 11em;
}
